@font-face {
    font-family: blog;
    src: url(./JNRfont_n.ttf);
}
body {
    font-family: blog;
    background-color: midnightblue;
}
h1 {
    font-family: blog;
}
h2 {
    font-family: blog;
}
h3 {
    font-family: blog;
}
h4 {
    font-family: blog;
}
h5 {
    font-family: blog;
}
h6 {
    font-family: blog;
}
p {
    font-family: blog;
}
img {
    width: 70%;
}
details {
    font-family: blog;
}
summary {
    font-family: blog;
}
a {
    font-family: blog;
}
ul {
    font-family: blog;
}
li {
    font-family: blog;
}
header {
    background-color: aquamarine;
}
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}
