@font-face {
    font-family: main_font;
    src: url(./DotGothic16-Regular.ttf);
}
body {
    background-color: lightgreen;
}
h1 {
    font-family: main_font;
}
h2 {
    font-family: main_font;
}
h3 {
    font-family: main_font;
}
h4 {
    font-family: main_font;
}
h5 {
    font-family: main_font;
}
p {
    font-family: main_font;
}
a {
    font-family: main_font;
}
iframe {
    font-family: main_font;
    width: 70%;
    height:200px;
}
details {
    font-family: main_font;
        border: 1px solid #aaa;
            border-radius: 4px;
                padding: 0.5em 0.5em 0;
                }

                summary {
                    font-family: main_font;
                    font-weight: bold;
                        margin: -0.5em -0.5em 0;
                            padding: 0.5em;
                            }

                            details[open] {
                                padding: 0.5em;
                                }

                                details[open] summary {
                                    border-bottom: 1px solid #aaa;
                                        margin-bottom: 0.5em;
                                        }
header {
    background-color: #96d35f;
}
footer {
    background-color: #aaa;
}