@font-face {
    font-family: main_font;
    src: url(./DotGothic16-Regular.ttf);
}
body {
    background-image: url(../img/bg.png);
}
h1 {
    font-family: main_font;
}
h2 {
    font-family: main_font;
}
h3 {
    font-family: main_font;
}
h4 {
    font-family: main_font;
}
p {
    font-family: main_font;
}
details {
        border: 1px solid #aaa;
            border-radius: 4px;
                padding: 0.5em 0.5em 0;
                }

                summary {
                    font-weight: bold;
                        margin: -0.5em -0.5em 0;
                            padding: 0.5em;
                            }

                            details[open] {
                                padding: 0.5em;
                                }

                                details[open] summary {
                                    border-bottom: 1px solid #aaa;
                                        margin-bottom: 0.5em;
                                        }