.img-icon {
    width: 40%;
}
.img-local {
    width: 70%;
}
video {
    width: 60%;
}
.color0 {
    color: azure;
}
.color1 {
    color: coral;
}
.color2 {
    color: cyan;
}
.color3 {
    color: greenyellow;
}
.color4 {
    color: sandybrown;
}