body {
    background-color: aqua;
}
div.main {
    background-color: azure;
}
div.sub {
    background-color: aliceblue;
}
div.ad {
    background-color: cornflowerblue;
}
div.image {
    background-color: bisque;
}