html,
body {
	margin: 0;
	background: #00ff00;
	width: 100%;
	height: 100%;
}

canvas {
	display: block;
}

video {
	max-width: 320px;
	height: auto;
	transform: scale(-1, 1);
}

#preview {
	display: flex; flex-direction: column;
	position: absolute;
	top: 16px; left: 16px;
	overflow: hidden;
	border-radius: 16px;
}

#preview canvas {
	transform: scale(-1, 1);
}

#my-guides {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: auto;
	z-index: 1;
}
.setting-icon {
	position: absolute;
	top: 0px;
	right: 8px;
}
span.set {
	font-size: 64px;
}
div.modal {
	position: absolute;
	width: 60%;
	height: 50%;
	background: black;
	border-radius: 32px;
	top: 8px;
	left: 20%;
	right: 20%;
	color: white;
	text-align: center;
	opacity: 0.4;
	display: none;
}
input.num {
	width: 64px;
}
img#mic,
img#desk {
	position: absolute;
	width: 120px;
}