@font-face {
    font-family: ui;
    src: url(./font/JNRfont_n.ttf);
}
body {
    text-align: center;
}
header {
    width: 96%;
    background-color: cornflowerblue;
}
article {
    background-color: aquamarine;
    font-family: ui;
    margin: 0 10px 10px 10px;
    display: flex;
}
div.menu {
    width: 120px;
    background-color: azure;
    order: 1;
}
div.link {
    width: 120px;
    background-color: lightgrey;
    order: 3;
}
main.main {
    width: 480px;
    background-color: blanchedalmond;
    margin: 0 10px;
    order: 2;
}
main.sub {
    width: 480px;
    background-color: aquamarine;
    order: 2;
}
section.image {
    width: 70%;
}
section.main {
    width: 98%;
}