@font-face {
    font-family: system;
    src: url(../../css/JNRfont_n.ttf);
}
h1 {
    font-family: system;
}
h2 {
    font-family: system;
}
h3 {
    font-family: system;
}
h4 {
    font-family: system;
}
h5 {
    font-family: system;
}
h6 {
    font-family: system;
}
p {
    font-family: system;
}
details {
    font-family: system;
}
summary {
    font-family: system;
}
a {
    font-family: system;
}
strong {
    font-family: system;
}
img {
    width: 70%;
}